In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('./data/drone3.csv',sep='[;:]',index_col=False)

/tmp/ipykernel_11424/605586322.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('./data/drone3.csv',sep='[;:]',index_col=False)
/tmp/ipykernel_11424/605586322.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv('./data/drone3.csv',sep='[;:]',index_col=False)

In [29]:
df

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,419.73,33.728231,37.982482,23.729523,31.0310,0.0476,-0.0501,0.0
1,2,Car,173.65,33.609869,37.979914,23.733339,40.4920,-0.0074,-0.1593,0.0
2,3,Car,374.39,31.938416,37.979915,23.733292,44.2296,-0.0142,-0.1395,0.0
3,4,Motorcycle,471.19,58.091304,37.979891,23.733233,64.7725,0.0326,-0.1309,0.0
4,5,Car,465.16,56.957816,37.979942,23.733220,47.1936,-0.0387,-0.2323,0.0
...,...,...,...,...,...,...,...,...,...,...
2490,2491,Bus,5.93,15.247751,37.982843,23.729156,14.8779,-0.0355,-0.3268,801.4
2491,2492,Car,8.41,21.630601,37.979890,23.733376,22.2954,0.0012,0.0364,801.4
2492,2493,Car,16.38,42.109375,37.979873,23.733310,43.9978,0.0281,-0.0962,801.4
2493,2494,Motorcycle,31.48,94.437932,37.979873,23.733336,98.8912,-1.8008,0.7762,801.6
2494,2495,Medium Vehicle,6.87,30.906398,37.979854,23.733287,32.5331,-0.0000,-0.0000,802.0

In [30]:
df.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time'],
      dtype='object')

In [31]:
df.columns = df.columns.str.replace(' ','')

In [32]:
df.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,419.73,33.728231,37.982482,23.729523,31.0310,0.0476,-0.0501,0.0
1,2,Car,173.65,33.609869,37.979914,23.733339,40.4920,-0.0074,-0.1593,0.0
2,3,Car,374.39,31.938416,37.979915,23.733292,44.2296,-0.0142,-0.1395,0.0
3,4,Motorcycle,471.19,58.091304,37.979891,23.733233,64.7725,0.0326,-0.1309,0.0
4,5,Car,465.16,56.957816,37.979942,23.733220,47.1936,-0.0387,-0.2323,0.0

In [33]:
df.to_csv('./data/drone3_clean.csv',index=False)

In [34]:
df.isnull().sum()

track_id      0
type          0
traveled_d    0
avg_speed     0
lat           0
lon           0
speed         0
lon_acc       0
lat_acc       0
time          0
dtype: int64

In [35]:
df.columns

Index(['track_id', 'type', 'traveled_d', 'avg_speed', 'lat', 'lon', 'speed',
       'lon_acc', 'lat_acc', 'time'],
      dtype='object')

In [36]:
df.to_csv('./data/drone3_clean.csv',index=False)